@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Regular.eot');
    src: url('RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
        url('RobotoSlab-Regular.woff2') format('woff2'),
        url('RobotoSlab-Regular.woff') format('woff'),
        url('RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
  font-size: 14px;
}
body{
  margin: 0;
}
.wrapper{
  width: 990px;
  margin: 0 auto;
}
main{
  padding: 70px 0 140px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clr::after{
  content: "";
  display: block;
  clear: both;
}
h1{
  font-size: 30px;
  color: #1f222c;
  font-family: "Roboto Slab";
  font-weight: 700;
  text-align: center;
}
h2{
 font-size: 20px;
 letter-spacing: 0px;
 color: #b3b3b3;
 font-family: "Roboto";
 font-weight: 700;
}
.form_1,
.form_2,
.form_3{
  padding: 50px 0;
}
.form_1{
  width: 330px;
}
.form_1 form input,
.form_4 form input{
  width: 298px;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #b3b3b3;
}
.form_1-location,
.form-location{
  width: 330px;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #1f222c;
  -webkit-appearance: none;
}
.form_1-textarea{
  padding: 15px;
  width: 298px;
  min-height: 100px;
  max-height: 150px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #b3b3b3;
  margin-bottom: 10px;
  resize: vertical;

}
.form_1 form .form_1-submit{
  background-color: #12d661;
  border: 0;
  height: 40px;
  width: 330px;
  color: #fff;
}
.form_2 input{
  display: inline-block;
}
.form_2-radio input{
  margin-left: 10px;
}
.form_2-checkbox{
  margin-left: 25px;
}
.form_2-radio p:last-child label,
.form_2-checkbox p:last-child label{
  color: #b3b3b3;
}
.radio-check,
.checkbox-check,
.style-check,
.f3radio-check{
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.radio-check+label::before,
.checkbox-check+label::after,
.radio-check+label::after,
.checkbox-check+label::before,
.style-check+label::before,
.style-check+label::after{
  content: "";
  position: absolute;
}
.radio-check+label,
.checkbox-check+label,
.style-check+label{
  position: relative;
}
.radio-check+label,
.checkbox-check+label{
  padding-left: 25px;
  color: #1f222c;
  font-family: "Roboto";
}
.checkbox-check+label{
  margin-right: 25px;
}
.style-check+label{
  padding-left: 65px;
  font-size: 14px;
  color: #1f222c;
}
.style-check+label::before,
.style-check+label::after{
  transition: all 0.5s ease;
}
[type="radio"],
[type="checkbox"]{
  overflow: hidden;
}
.radio-check+label::before{
  width: 15px;
  height: 15px;
  left: 0;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}
.radio-check+label::after{
  width: 7px;
  height: 7px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
}
.checkbox-check+label::before{
  width: 16px;
  height: 16px;
  top: -2px;
  left: 0;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.checkbox-check+label::after{
  width: 8.5px;
  height: 5px;
  top: 2px;
  left: 4px;
}
.checkbox-check:checked+label::after{
  visibility: visible;
  transform: rotate(-45deg);
  border-left:  1.5px solid #426dff;
  border-bottom:  1.5px solid #426dff;
}
.checkbox-check:checked+label::before{
  border: 1px solid #426dff;
}
.radio-check:checked+label::after{
  visibility: visible;
  background-color: #426dff;
}
.radio-check:checked+label::before{
  border: 1px solid #426dff;
}
.style-check+label::before{
  width: 45px;
  height: 25px;
  left: 0;
  background-color: #cfcfd1;
  border-radius: 25px;
}
.style-check+label::after{
  width: 21px;
  height: 21px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
}
.style-check:checked+label::after{
  background-color: white;
  left: 22px;
}
.style-check:checked+label::before{
  background-color: #3e6aff;
}
.form_2-rightdate{
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #f7f7f7;
}
.form_2-rightdate fieldset{
  display: inline-block;
  border: 0;
}
.form_2-rightdate  p{
  margin: 0;
  line-height: 55px;
}
.date-inf{
  color: #b3b3b3;
  font-family: "Roboto";
  font-weight: 700;
}
.form_2-rightdate
.background{
  position: absolute;
  left: 0;
  background-color: #222;
  width: 100vw;
  height: 100vw;
  z-index: -2;
  transition: background 3s ease;
}
.form_3-radio{
  position: relative;
}
.pmen{
  margin-bottom: 70px;
}
.f3radio-check+label{
  padding-left: 85px;
  font-weight: bold;
}
.men+label::before{
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0;
  top: -15px;
  background-image: url(../images/men.png);
}
.women+label::before{
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0;
  top: 70px;
  background-image: url(../images/women.png);
}
.men:checked+label::before{
    background-image: url(../images/men_color.png);
}
.women:checked+label::before{
  background-image: url(../images/women_color.png);
}
.form_4 p{
  font-size: 18px;
  color: #1f222c;
  font-family: "Roboto";
  font-weight: 700;
}
.f4table{
  width: 515px;
}
.f4table tr{
  margin-bottom: 15px;
}
.f4table td:nth-child(2n+1) {
  padding: 15px 0 25px;
  width: 165px;
}
.form_4 .f4table input{
  padding: 12px;
  width :92.3%;
}
.f4men+label{
  margin-right: 20px;
}
.form_4 .f4table textarea{
  width :315px;
}
.form_4 .f4table select{
  width :345px;
  padding: 13px;
}
.form_4  .f4download{
  border: 0;
}
.form_4 .f4table .f4submit{
  width: 100%;
  margin: 0;
}
