@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
html{
  font-size: 14px;
  font-family: "Roboto";
}
body{
  margin: 0;
  overflow-x: hidden;
}
.wrapper{
  width: 990px;
  margin: 0 auto;
}
main{
  padding: 70px 0 140px;
}
hr{
  width: 100%;
  height: 1px;
  background: #e9e9e9;
  border: none;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clr::after{
  content: "";
  display: block;
  clear: both;
}
h1{
  font-size: 30px;
  color: #1f222c;
  font-family: "Roboto Slab";
  font-weight: 700;
  text-align: center;
}
h2{
  margin: 0 0 30px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #b3b3b3;
  font-family: "Roboto";
  font-weight: 700;
}
.form_1,
.form_2,
.form_3{
  padding: 50px 0;
}
.form_1{
  width: 330px;
}
.form_1 form input,
.form_4 form input{
  width: 298px;
  padding: 13px 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #b3b3b3;
}
select{
  -webkit-appearance: none;
  appearance: none;
}
input:focus,
textarea:focus,
select:focus{
  border-color: #3d69ff;
  filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
}
.form_1-location{
  width: 330px;
  padding: 13px 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #1f222c;
}
.wrapper .f1p{
  margin: 0;
}
.form_1-location+label{
  position: absolute;
  top: 15px;
  right: 15px;
  border: 4.5px solid #1f222c;
  border-top-color:  transparent;
  border-left-color:  transparent;
  transform: rotate(45deg);
}
.form_1-textarea{
  padding: 15px;
  width: 298px;
  min-height: 100px;
  max-height: 150px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #b3b3b3;
  margin-bottom: 10px;
  resize: vertical;

}
.form_1 form .form_1-submit{
  font-family: "Roboto";
  font-weight: bold;
  height: 40px;
  width: 330px;
  color: #fff;
  background-color: #12d661;
  border: 0;
}
.form_1-submit:hover{
  filter: drop-shadow(0px 2px 2.5px rgba(8,118,52,0.35));
  background-color: #07be51;
  transition: all 0.5s ease;
}
.form_2 input{
  display: inline-block;
}
.form_2-radio input{
  margin-left: 10px;
}
.form_2-checkbox{
  margin-left: 25px;
}
.form_2-radio p:last-child label,
.form_2-checkbox p:last-child label{
  color: #b3b3b3;
}
.radio-check,
.checkbox-check,
.style-check,
.f3radio-check{
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.radio-check+label::before,
.checkbox-check+label::after,
.radio-check+label::after,
.checkbox-check+label::before,
.style-check+label::before,
.style-check+label::after{
  content: "";
  position: absolute;
}
.radio-check+label,
.checkbox-check+label,
.style-check+label{
  position: relative;
}
.radio-check+label,
.checkbox-check+label{
  padding-left: 25px;
  color: #1f222c;
  font-family: "Roboto";
}
.checkbox-check+label{
  margin-right: 25px;
}
.style-check+label{
  padding-left: 65px;
  font-size: 14px;
  color: #1f222c;
}
.style-check+label::before,
.style-check+label::after{
  transition: all 0.5s ease;
}
[type="radio"],
[type="checkbox"]{
  overflow: hidden;
}
.radio-check+label::before{
  width: 15px;
  height: 15px;
  left: 0;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}
.radio-check+label::after{
  width: 7px;
  height: 7px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
}
.checkbox-check+label::before{
  width: 16px;
  height: 16px;
  top: -2px;
  left: 0;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.checkbox-check+label::after{
  width: 8.5px;
  height: 5px;
  top: 2px;
  left: 4px;
}
.checkbox-check:checked+label::after{
  visibility: visible;
  transform: rotate(-45deg);
  border-left:  1.5px solid #426dff;
  border-bottom:  1.5px solid #426dff;
}
.checkbox-check:checked+label::before{
  border: 1px solid #426dff;
}
.radio-check:checked+label::after{
  visibility: visible;
  background-color: #426dff;
}
.radio-check:checked+label::before{
  border: 1px solid #426dff;
}
.style-check+label::before{
  width: 45px;
  height: 25px;
  left: 0;
  top: -4px;
  background-color: #cfcfd1;
  border-radius: 25px;
}
.style-check+label::after{
  width: 21px;
  height: 21px;
  top: -2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
}
.style-check:checked+label::after{
  background-color: white;
  left: 22px;
}
.style-check:checked+label::before{
  background-color: #3e6aff;
}
.form_2-rightdate{
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #f7f7f7;
}
.form_2-rightdate fieldset{
  display: inline-block;
  border: 0;
}
.form_2-rightdate  p{
  margin: 0;
  line-height: 55px;
}
.date-inf{
  color: #b3b3b3;
  font-family: "Roboto";
  font-weight: 700;
}
.f2date{
  width: 148px;
  padding: 9px 14px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.f2date+label{
  position: relative;
}
.f2date+label::before{
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  right: 14px;
  top: -1px;
  background-image: url(../images/date.png);
}
::-webkit-inner-spin-button { display: none; }

.background{
  position: absolute;
  left: 0;
  background-color: #222;
  width: 100vw;
  height: 100vw;
  z-index: -2;
  transition: background 3s ease;
}
.pmen{
  margin-bottom: 70px;
}
.f3radio-check+label{
  padding-left: 85px;
}
.men+label,
.women+label{
  font-size: 16px;
  font-weight: bold;
}
.men+label::before{
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0;
  top: -15px;
  background-image: url(../images/men.png);
}
.women+label::before{
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0;
  top: 70px;
  background-image: url(../images/women.png);
}
.men:checked+label,
.women:checked+label{
  color: #3e6aff;
}
.men:checked+label::before{
    background-image: url(../images/men_color.png);
    font-size: 16px;
    color: #3e6aff;
}
.women:checked+label::before{
  background-image: url(../images/women_color.png);
  font-size: 16px;
  color: #3e6aff;
}
.form_3{
  width: 680px;
}
.form_3-checkbox p{
  margin: 20px 0;
}
.form_4 p,
.form_5>p{
  font-size: 18px;
  color: #1f222c;
  font-family: "Roboto";
  font-weight: 700;
}
.f4table{
  width: 515px;
}
.f4table tr{
  margin-bottom: 15px;
}
.f4table td:nth-child(2n+1) {
  padding: 15px 0 25px;
  width: 165px;
}
.form_4 .f4table input{
  padding: 12px;
  width :92.3%;
}
.f4men+label{
  margin-right: 20px;
}
.form_4 .f4table textarea{
  width :315px;
}
.form_4 .f4table select{
  width :345px;
  padding: 13px;
}
.form_3-radio,
.suport,
.form_5 td,
.form_5 .form_5-submitlab{
  position: relative;
  top: 0;
}
.f4download{
  visibility: hidden;
}
.f4download+label{
  position: absolute;
  padding: 15px 37px;
  left: 0;
  top: 0;
  border-radius: 3px;
  color: #fff;
  font-family: "Roboto";
  font-weight: 700;
  background: #3e6aff;
}
.form_4 .f4table .f4submit{
  width: 348px;
  margin: 0;
}
.form_5{
  padding: 50px 0;
  width: 680px;
}
.f5table_1{
  margin: 40px 0 30px;
}
.f5table_2{
  margin: 45px 0 20px;
}
.f5table_3{
  margin: 20px 0 25px;
}
.form_5 td{
  padding-right: 10px;
}
.form_5 input,
.form_5 select,
.form_6 input{
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  color: #1f222c;
  font-family: "Roboto";
  font-weight: 400;
  width: 218px;
}
.form_5 select{
  width: 246px;
}
.form_5s-location{
  position: absolute;
  top: 16px;
  right: 25px;
  border: 4.5px solid #1f222c;
  border-top-color:  transparent;
  border-left-color:  transparent;
  transform: rotate(45deg);
}
.form_5sp-location{
  position: absolute;
  width: 5px;
  height: 20px;
  top: 29%;
  right: 45px;
  border-right: 1px solid #ccc;
}
.f5hr{
  width: 113%;
  margin: 0 0 30px;
}
.form_5 label{
  position: absolute;
  font-size: 13px;
  color: #b3b3b3;
  font-family: "Roboto";
  left: 0;
  top: -20px;
}
.form_5 .f5adres{
  width: 477px;
}
.form_5 .f5stule-chec{
  font-size: 14px;
  color: #1f222c;
}
.form_5 .f5p{
  display: inline-block;
  width: 100%;
  margin: 25px 0;
}
.form_5 .f5div{
  width: 768px;
}
.getback{
  padding: 15px 25px;
  text-decoration: none;
  font-size: 14px;
  color: #6e6f77;
  font-family: "Roboto";
  font-weight: 700;
  border: 1px solid #84868d;
  border-radius: 3px;
}
.getback:hover{
  background: #6e6f77;
  color: white;
  transition: all 0.5s ease;
}
.form_5 .form_5-submit{
  width: 180px;
  padding: 15px 0;
  color: #fff;
  background-color: #12d661;
  border: 0;
}
.form_6{
  position: fixed;
  width: 310px;
  right: calc(50% - 491px);
  top: 203px;
}
.form_6 fieldset{
  max-width: 260px;
  max-height: 270px;
  height: 100%;
  padding: 10px 25px;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.15));
}
.form_6 input{
  width: 238px;
  padding: 10px 10px;
  margin: 20px 0 0;
}
.form_6 label{
  font-size: 13px;
  color: #b3b3b3;
  font-family: "Roboto";
  font-weight: 400;
}
.f6absol{
  position: absolute;
  left: 2px;
  top: 0;
}

.form_6 a{
  color: #3e6aff;
  text-decoration: none;
}
 .form_6 .f6checkb{
  margin: 12px 0;
}
.form_6 .f6sub{
  margin: 0;
  width: 100%;
  color: #fff;
  background-color: #12d661;
}
